
/*  service classes  */
@font-face{
	font-family: Roboto;
	src: url(../fonts/Roboto-Regular.ttf);
}

.col-xs-4, {
	margin: 0;
	padding: 0;
}

.container {
	min-width: 1170px;
	padding: 0;
}

.row {
	margin-right: -15px;
	margin-left: 0;
	width: 1170px;
}

.center-text {
  text-align: center;
}

.left {
	float: left;
}

.right {
	float: right;
}

.shadow {
	box-shadow: 0px 20px 50px #000;
}

.mt {
	margin-top: 10px;
	padding-bottom: 10px;
}

p {
	font-size: 16px;
	text-align: justify;
}


/*  End services classes  */

/*  Base style  */
body {
	font-family: 'Roboto', Arial, sans-serif;
}
/*  End Base style  */

/*  Section header  */
header {
  padding: 10px 0; 
  margin-bottom: 10px;
}

header .logo{
	line-height: 132px;
}

.social-btn img {
	width: 24px;
}

.phone, 
.mail {
	font-size: 24px;
}

.phone .fa,
.mail .fa {
	color: #F5598B;
}

.phone span,
.mail span{
	padding-left: 5px;
}
/*  End Section header  */
#header {
	background: rgba(255, 255, 255, 1);
	padding: 5px 10px;
}

.logo img {
  width: 200px;
  height: 100px;
}

/*  Navigation section  */

nav, main {
	background-color: #fff;
}

.nav {
	width: 100%;
	background-color: #fff;
}

.nav li {
	display: inline-block;
	width: 164px;
}

.nav > li:last-child {
	width: 186px;
}

.nav li a{
	text-align: center;
	background: #f03fa2;
	color: #fff;
	font-size: 20px;
	font-weight: 700;
}

.nav > li > a:hover {
	color: #f03fa2;
}


.navbar-nav {
	margin: 0;
}

.img-menu img{
	width: 361px;
}
/*  End Navigation section  */

.brends {
	text-align: center;
	margin-top: 10px;
}

.brends img {
	width: 92px;
}

.benefits {
	margin-top: 20px;
}

.benefits > .col-xs-3 > img {
	width: 210px;
}

.benefits h2 {
	margin-top: 0;
	margin-left: -20px;
}

.benefits li {
	color: #f03fa2;
	font-size: 21px;
}

.benefits li > span {
	color: #000;
	font-size: 21px;
}

/*  Footer style  */

footer {
	background-color: #70476B;
	color: #fff;
	padding-top: 20px;
	height: 100px;
}

footer .social-btn {
	float: right;
}

footer .social-btn img {
	width: 48px
}

/*  End Footer style*/