
/*  service classes  */
@font-face{
	font-family: Roboto;
	src: url(../fonts/Roboto-Regular.ttf);
}

.col-xs-4, {
	margin: 0;
	padding: 0;
}

.container {
	min-width: 1170px;
	padding: 0;
}

.row {
	margin-right: -15px;
	margin-left: 0;
	width: 1170px;
}

.center-text {
  text-align: center;
}

.left {
	float: left;
}

.right {
	float: right;
}

.shadow {
	box-shadow: 0px 20px 50px #000;
}

.mt {
	margin-top: 10px;
	padding-bottom: 10px;
}

/*  End services classes  */

/*  Base style  */
body {
	background: url(../img/bg-img.png);
	font-family: 'Roboto', Arial, sans-serif;
}
/*  End Base style  */

/*  Section header  */
header {
  padding: 10px 0; 
  margin-bottom: 10px;
}

header .logo{
	line-height: 132px;
	margin-left: 10px;
}

.social-btn img {
	width: 24px;
}

.phone, 
.mail {
	font-size: 24px;
	color: #F5598B;
}

.phone span,
.mail span{
	padding-left: 5px;
}
/*  End Section header  */
#header {
	background: rgba(255, 255, 255, 0.8);
	padding: 5px 10px;
}

.logo img {
  width: 200px;
  height: 100px;
}

/*  Navigation section  */

nav, main {
	background-color: #fff;
}

.nav {
	width: 100%;
	background-color: #fff;
}

.nav li {
	display: inline-block;
	width: 164px;
}


.nav li a{
	text-align: center;
	color: #F5598B;
	font-size: 20px;
	font-weight: 700;
}

.navbar-nav {
	margin: 0;
}

.img-menu img{
	width: 340px;
}
/*  End Navigation section  */

